/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ wrapper */

/* wrapper-img */
.wrapper-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border: 1 solid;
    box-shadow: 5px 1px 11px #888888;                   /*hiệu ứng bóng đổ*/
}


/* wrapper-container1 */
.wrapper-container1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-container1 .content{
    display: flex;
    margin-top: 6%;
    width: 75rem;
}

.wrapper-container1 .image{
    width: 34%;
    padding: 0 2%;
}

.wrapper-container1 .content .image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.wrapper-container1 .text{
    width: 58%;
    padding: 2% 2% 0 2%;
}

.wrapper-container1 .text p{
    font-size: 15px;
    font-weight: 500;
    line-height: 27px;
    margin-bottom: 2%;
    text-align: justify;
}



/* wrapper-container2 */

.wrapper-container2{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 6%;
}

.wrapper-container2 .content{
    width: 79rem;
}

.wrapper-container2 .content h2{
    font-size: 25px;
    font-weight: 700;
    line-height: 35px;
    text-align: center;
}

.wrapper-container2 .content-list{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
}

.wrapper-container2 .content-item{
    border: 2px solid #760bbc;
    border-radius: 10px;
    width: 21.9%;
    padding: 1%;
    margin: 2%;
}

.wrapper-container2 .content-item__icon{
    text-align: center;
    margin-bottom: 8%;
}

.wrapper-container2 i{
    font-size: 45px;
    line-height: 50px;
    color:#0B249E;
}


.wrapper-container2 i:hover {            /*new*/   
    transition: 0.1s 0.1s; 
    font-size: 56px;
    cursor: pointer;
}

.wrapper-container2 h3{
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    color: #760bbc;
    text-align: center;
}

.wrapper-container2 p{
    font-size: 15px;
    font-weight: 500;
    line-height: 27px;
    margin-top: 6%;
    text-align: center;
}


/* wrapper-container3 */

.wrapper-container3{
    width: 100%;
    margin-top: 4%;
    padding: 6% 0;
    background-image: linear-gradient(0, #760bbc, #0B249E);
    display: flex;
    justify-content: center;
}

.wrapper-container3 .content{
    text-align: center;
    width: 78rem;
}

.wrapper-container3 .content h2{
    font-size: 25px;
    font-weight: 700;
    line-height: 35px;
    margin-bottom: 4%;
    color: #fff;
    text-align: center;
}

.wrapper-container3 .content-list1{
    display: flex;
    width: 100%;
}

.wrapper-container3 .content-item{
    width: 23%;
    background-color: #fff;
    padding: 2px;
    margin: 1%;
    flex: 1;
}

.wrapper-container3 .content-item img{
    width: 100%;
    object-fit: cover;
}

.wrapper-container3 .content-item:hover img{
    transition: 0.5s 0.5s;
    object-fit: none ;
    cursor: pointer;
}

.wrapper-container3 .content-list1 .content-item:hover p{
    color: #0B249E;
}

.wrapper-container3 .content-item p{
    font-size: 15px;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
    margin: 4% 0;
}

.wrapper-container3 .content-list2{
    margin-top: 30px;
    margin-left: 15px;
}

.wrapper-container3 .content-list2 p{
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    line-height: 30px;
    color: #fff;
}

.wrapper-container3 .content-button{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5%;
}

.wrapper-container3 .content-button a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 2px solid #fff;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    width: 14%;
    padding: 1%;
    
}

.wrapper-container3 .content-button i{
    margin-left: 6%;
    font-size: 20px;
}

.wrapper-container3 .content-button a:hover {
    background-color: rgb(236, 103, 14);
    width: 13%;
}



/* wrapper-container4 */

.wrapper-container4{
    width: 100%;
    margin-top: 6%;
    display: flex;
    justify-content: center;
}

.wrapper-container4 .content{
    width: 78rem;
}

.wrapper-container4 h2{
    font-size: 25px;
    font-weight: 700;
    line-height: 35px;
    text-align: center;
    margin-bottom: 2.5%;
}

.wrapper-container4 .content-list1{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.wrapper-container4 .content-item{
    width: 25%;
    border: 2px solid #E1E0E0;
    padding: 1.5%;
}

.wrapper-container4 img{
    width: 100%;
    object-fit:cover;
}

.wrapper-container4 p{
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
    margin: 6% 0 3% 0;
}



/* wrapper-container5 */

.wrapper-container5{
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(0, #2002d4, #08209f);
    margin-top: 6%;
    padding: 5% 0;
}

.wrapper-container5 .content-list{
    /* width: 38%; */
    width: 35.75rem;
}

.wrapper-container5 h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 2%;
    text-align: center;
    color: yellow;
}

.wrapper-container5 h2{
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    margin-bottom: 6%;
    color: #fff;
}

.wrapper-container5 .content-list:nth-child(1){
    padding-right: 1%;
}

.wrapper-container5 .content-list:nth-child(2){
    padding: 1% 0 0 1%;
}

.wrapper-container5 form{
    width: 85%;
    margin: 0 auto;
}

.wrapper-container5 .content-item{
    width: 100%;
    margin-bottom: 5%;
}

.wrapper-container5 .content-item:nth-child(1){
    margin-left: 5%;
}

.wrapper-container5 .content-item:nth-child(2){
    margin-left: 10%;
}

.wrapper-container5 .content-item:nth-child(3){
    margin-left: 5%;
}

.wrapper-container5 .content-item div{
    display: flex;
    width: 90%;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: #fff;
    align-items: center;
    margin-bottom: 2%;
}

.wrapper-container5 .content-item:nth-child(3) div{
    margin-bottom: 1%;
}

.wrapper-container5 .content-item div i{
    color: yellow;
    margin-right: 4%;
}

.wrapper-container5 .content-item:nth-child(1) i,
.wrapper-container5 .content-item:nth-child(3) i
{
    font-size: 20px;
    line-height: 20px;
}



/* wrapper-container6 */

.wrapper-container6{
    width: 100%;
    padding: 6% 0 2% 0;
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
}

.wrapper-container6 .content-list{
    width: 68.75rem;
}

.wrapper-container6 h2{
    width: 100%;
    font-size: 25px;
    font-weight: 700;
    line-height: 25px;
    margin-bottom: 4%;
    text-align: center;
}

.wrapper-container6 .content-item{
    display: flex;
}

.wrapper-container6 .content-item1{
    width: 50%;
    padding: 2%;
}

.wrapper-container6 .content-item1:last-child{
    padding-top: 8%;
}

.wrapper-container6 .content-item1 img{
    width: 100%;
    object-fit: contain;
}

.wrapper-container6 .content-item1 p{
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 4%;
}

.wrapper-container6 .content-item1 div{
    margin-top: 9%;
}

.wrapper-container6 .content-item1 a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 600;
    line-height: 19px;
}



